.h2 {
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
}

.button {
  width: 37%;
  margin-left: 31.5%;
  background-color: #17325e;
  color: white;
}

.span {
  color: gray;
}

section div div div div div ul {
  margin: 0 !important;
  float: right !important;
}
