.navCenter {
  margin-top: 0.7em;
}

.navBar {
  background-color: #0074D9;
}

.a {
  color: white;
}

.span {
  color: white;
}

.spanSnarp {
  color: white;
  font-size: 26px;
}

.span:hover {
  color: silver;
}
