.navCenter {
  margin-top: 0.7em;
}

.a {
  color: white;
}

.span {
  color: white;
}

.spanSnarp {
  color: white;
  font-size: 26px;
}

.span:hover {
  color: gray;
}

.navBar {
  background-color: rgb(5, 5, 30);
}

.navBar > div {
  width: 100%;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}

.spanNoHover {
  color: white;
}

.sectionTitle {
  font-family: serif;
}

.letter {
  display: inline-block;
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 1em;
  margin-right: 0.2em;
  position: relative;
  color: black;
  transform-style: preserve-3d;
  z-index: 1;
}

.letter:before, .letter:after {
  position: absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top: 0;
  left: 0;
}

.letter, .letter:before, .letter:after {
  transition: all 0.1s ease-in-out;
}

.letter:before {
  color: white;
  z-index: 3;
  transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

.letter:after {
  color: rgba(0, 0, 0, .11);
  z-index: 2;
  transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}

.letter:hover:before {
  color: white;
  transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}

.letter:hover:after {
  transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
}
